{% extends "menu.html" %}
<html>
{% block menu %}
{{ super() }}
<style>
#table {
	text-align:center;
	width:1000px;
	margin:auto;
}
form {
	text-align:center;
}
</style>
<form method=post>
<h1> 용돈 기입장 </h1>
<form>
<input type=date name="date">
<input type=text name="content">
<input type=number name="money">
<input type=submit value="추가하기">
</form>
<table border="1", id="table">
<tr>
<th> 날짜 </th>
<th> 내용 </th>
<th> 돈 </th>
</tr>
{% for p in pmeb %}
<tr>
{% for i in p %}
<td> {{ i }} </td>
{% endfor %}
</tr>
{% endfor %}
</table>
<br>
{% endblock %}
</html>